.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  max-width: 174px;
}
.button:hover {
  background-color: rgb(216, 199, 177);
  cursor: pointer;
}

/* Alert.css */
.alert {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
